.box1{
    background-color:black;
    min-height:30px ;
}
.box2{
    background-color:black;
    min-height:30px;
    text-align: center;
    color:grey;
}
.box3{
    background-color:black;
    min-height: 30px;
}
.set{
    background-color: black;
}
.inbox{
    min-height:350px;
    text-align: center;
}

.out{
  
    background-image:url(brisket.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}
.risk{
    color: white;
    font-size:75px;
    padding-top:5px;
}
.master{
    color: white;
    padding-top: 5px;
}
.miss{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:35px;
    display: inline-block;
}
.buff{
    margin-top: 70px;
    background: -webkit-linear-gradient(#eee, #ffffff);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.inbox1{
    min-height:180px;
}
.max{
    background-image:url(pees\ beef.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: -2;
}
.opacity2{
    position: absolute;
    background-color: rgba(14, 9, 0, 0.912);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.head{
    color: white;
    text-align: center;
    font-family:script MT;
    font-size: 25px;
    padding-top:50px;
}
.inbox2{
    min-height:350px;
    text-align: center;
}
.vid{
    background-color: black;
    background-image: url(Restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.fam{
    color: white;
    padding-top: 15px;
}
.fin{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:35px;
    display: inline-block;
}
.flavor{
    font-size: 15px;

}
.loc{
    color: white;
    font-size:45px;
    padding-top:20px;
    text-decoration: underline;
    padding-top:85px;
    
}
.inbox3{
    min-height:350px;
    text-align: center;
}
.six{
    color: white;
    display:inline-block;
    border: solid 2px white;
    border-radius:50% ;
    padding:15px;
    font-size: 30PX;
    margin-top:50px;    
    
}
.mid{
    background-color: black;
    background-image: url(Chicken.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.cater{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top:25px;   
}
.food{
    color: white;
    text-align: center;
    padding-top:8px;
}
.info{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:25px;
    display: inline-block;
}
.inbox4{
    min-height:180px;
}
.car{
    background-color: black;
    background-image: url(cooking.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.at{
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 55px;
    font-family: Monotype Corsiva;
}
.inbox5{
    min-height:350px;
    text-align: center;
}
.more{
    color: white;
    text-align: center;
    font-size:13px;
    padding-top: 30px;
}
.now{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:35px;
    display: inline-block; 
}
.you{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 75px;
    font-family: Georgia;

}
.are{
    color: white;
    font-size:30px;
    text-align: center;
    padding-top: 15px;
    font-family: Cambria;
   
}
.net{
    background-image: url(bottles.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.bx{
    background-color: white;
    height: 3px;
    max-width:300PX;
    margin: auto;
    text-align: center;   
}
.inbox6{
    min-height:350px;
    text-align: center;
}
.life{
    color: white;
    font-size:30px;
    text-align: center;
    padding-bottom:10px;
    font-family: Goudy Stout; 
}
.light{
    color: white;
    text-align: center;
    padding-bottom: 25px;
}
.find{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-bottom:35px;
    display: inline-block;  
}
.tent{
    background-image: url(couple.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.inbox7{
    min-height:350px;
}
.tag{
    background-image: url(family.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: -2;
}
.opacity1{
    position: absolute;
    background-color: rgba(255, 166, 0, 0.456);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.if{
    color: white;
    font-family: Script MT;
    text-align: center;
    padding-top:150px;
}

.inbox8{
    min-height:450px;
    text-align: center;
}
.end{
  background-image: url(chef.jpg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: 0px 25px;
}
.in{
    color: white;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 10px;
}
.jn{
    background-color: white;
    height:3px;
    width: 350px;
    display: inline-block;
    margin-bottom: 20px;
}
.nj{
    color: white;
    text-align: center; 
}
.r4{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:35px;
    display: inline-block; 
}

.inbox9{
    background-color: rgb(39, 38, 38);
    min-height: 200px;
}
.contact{
    text-align: center;
}
.join{
    color: white;
    text-align: center;
    font-family: Script MT;
    padding-top: 80px;
}
.yoyo{
    background-color: rgb(39, 38, 38);
}

.lin{
    color: white;
    text-align: center;
     padding-top: 30px;
}
.press{
    color:rgb(128, 126, 126);
    text-decoration: underline;
    /* padding-left: 5px; */
}
.u{
    /* padding-left:50px; */
}
.con{
    background-color:rgb(197, 138, 27);
    text-decoration: none;
    color: white;
    padding: 5PX 5PX;
    margin-top:10px;
    display: inline-block; 
}
.phn{
    color: white;
    text-align: center;
    padding-top: 5px;
}
.spp{
    color:rgb(128, 126, 126) ;
}
.inbox10{
   background-color: black;
    min-height:60px;
}
.map{
    background-color: black;
}
.reb{
    font-size: 20px;
    color:white;
    display:inline-block;
    width:100%;
    text-align: right;
    
}
.riv{
    color: white;
    font-size:11px;
    display: inline-block;
    /* background-color: brown; */
    height:50px;
    margin-left:10px;

}
.menu{
    color: darkgrey;
    text-decoration: none;
    font-size: small;
    margin:0px 15px;
}
.ball{
    font-size: 20px;
    color: white;
    
}
.art{
    color:grey;
    font-size:11px;
    display: inline-block;
    height:50px;
    margin-left:50px;
}
.eyes{
   border: solid white 2px;
   border-radius: 75%;
   margin-top: 50px;
}
.ron{
    color: orange;
}
.river{
    padding-top:20px;
}
.one{
    color: rgb(165, 132, 70);

   padding-top: 20px;
   display: inline-block;
   letter-spacing: 15px;

}
.icons{
    text-align: right;
}
.two{
    color: rgb(165, 132, 70);
    letter-spacing: 15px;
}
.three{
    color: rgb(165, 132, 70);
    letter-spacing: 15px;
}
.four{
    color: rgb(165, 132, 70);
    letter-spacing: 15px;
}

@media(max-width:575px){
    .if{
        padding-top: 100px;
    }
    .inbox7{
        min-height: 270px;
    }
    .in{
        padding-top: 60px;
    }
    .inbox8{
        min-height: 300px;
    }
    .end{
        background-size: cover;
    }
    .jn{
        width: 230px;
    }
    .inbox10{
        text-align: center;
    }
    .icons{
        text-align: center;
    }
    .tag,.tent,.car,.net,.max,.vid,.mid{
        background-size: cover;
    }
}